* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.props text eol=lf
*.sh text eol=lf
*.slnx text eol=lf
*.targets text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
